section.localCard {
	border: none;
	display: grid;
	width: 400px;
	padding: 8px 5px 5px 5px;

	grid-template-columns: 61.8% 38.2%;
	grid-template-rows: 50px;
	grid-auto-rows: 30px;
	grid-auto-flow: column;

	#title {
		grid-column: 1 / span 2;
		grid-row: 1/2;
	}

	#sub-title {
		grid-column: 2 / 3;
		grid-row: 1/2;
	}

	.main {
		grid-column: 1;
	}

	.side {
		grid-column: 2;
	}
}
