section.localCard {
	border: none;
	position: relative;
	display: grid;
	width: 92vw;
	padding: 12px 9px 9px 9px;
	font-size: 0.8em;
	grid-gap: 15px;

	grid-template-columns: 1fr 1fr 1fr;

	p {
		overflow: hidden;
		margin-bottom: 0px;
	}

	#cardTitle {
		grid-column: 1 / span 3;
		grid-row: 1/2;
		text-align: center;
		padding: 0px;
		margin: 0px;
	}
}

.btn-square {
	cursor: pointer;
	border: 1px solid white;

	.btn-square-title {
		font-size: 0.8em;
	}

	.btn-square-main {
		font-size: 1em;
	}

	&.unpaid {
		background-color: firebrick;
	}

	&.unpaid:hover {
		background-color: darkred;
	}

	&.paid {
		background-color: forestgreen;
	}

	&.paid:hover {
		background-color: darkgreen;
	}

	&:hover {
		background-color: rgb(55, 55, 55);
	}
}

.localCard#reports {
	.main,
	.side {
		text-align: right;
	}
}
