section.formCont {
	.localForm {
		padding: 15px;
	}

	#delete-button-wrapper {
		padding-left: 5px;
	}
}

.buttonCont {
	display: grid;
	justify-items: center;
	margin-top: 30px;
}

.form-control,
.custom-select {
	background-color: $borderGray;
	color: white;
	border-color: $offWhite;
}
.custom-select:after {
	border: 1px solid red;
}

.form-control:focus {
	background-color: gray;
	color: white;
	border-color: $offWhite;
}

.basicFieldGroup,
.priceFieldGroup {
	display: grid;
	grid-template-columns: 2fr 3fr;
}

.custom-select {
	border-bottom-right-radius: 0px;
	border-top-right-radius: 0px;
	max-width: 200px;
	// @responsive => redefine max width
}

.formTitle {
	cursor: pointer;
	text-align: center;
	margin-bottom: 25px;
}

.editForm {
	padding: 15px;

	h6 {
		grid-column: span 2;
	}

	.custom-select {
		border-radius: 4px;
		border-bottom-right-radius: 0px;
		border-bottom-left-radius: 0px;
		// @responsive => redefine max width
	}

	.input-group > .form-control:not(:first-child) {
		border-radius: 4px;
		border-top-right-radius: 0px;
		border-top-left-radius: 0px;
	}
}
