#content {
	max-width: 420px;
	margin: 0 auto;

	#square {
		min-height: 100vh;
		background-color: $offWhite;
	}

	#rectangle {
		border: 1px solid white;
		position: fixed;
		bottom: 10%;
		overflow: hidden;
		max-width: 92vw !important;
		left: 50%;
		transform: translateX(-50%);
		background-color: $offWhite;
		border-radius: 10px;
		box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	}

	#custom-nav {
		position: fixed;
		left: 50%;
		transform: translateX(-50%);
		bottom: 2%;
		width: 50px;
		height: 50px;
		background-color: $offWhite;
		border-radius: 50px;
		border: 1px solid white;

		& > button > i {
			padding-left: 1px;
		}
	}
}
