section.localNav {
	display: grid;
	grid-gap: 5px;
	padding: 5px;

	.navBtn {
		background-color: $fontColor;
		display: block;
		box-shadow: none;
	}

	.navBtn:hover {
		background-color: $mildGray;
	}
}
