// @refactor change .localTable to #localTable
section.localTable {
	background-color: $offWhite;
	font-size: 14px;
	padding-bottom: 100%;

	.tableRow,
	.tableHeader {
		cursor: pointer;
	}

	div.pagination {
		background-color: $offWhite;
		position: sticky;
		top: 0;
		padding-left: 5%;
		padding-right: 5%;
		border-radius: 0px !important;
		display: grid;
		grid-template-columns: 1fr 3fr 1fr;
	}

	h6 {
		padding-top: 8px;
		padding-bottom: 8px;
		margin-bottom: 0px;
		min-width: 205px;
		text-align: center;
	}

	tr {
		height: 3em;
	}

	tr:first-child {
		height: inherit;
	}

	table tr td:first-child,
	table tr th:first-child {
		padding-left: 10px;
	}

	table tr td:last-child {
		padding-right: 10px;
	}

	table tr:nth-child(even) {
		background-color: $firstGray;
	}

	p#total {
		text-align: center;
		font-weight: bold;
	}
}

#productionTable {
	table-layout: fixed;
	width: 100%;

	th:nth-of-type(1) {
		width: 55%;
	}
	th:nth-of-type(2) {
		width: 10%;
	}
	th:nth-of-type(3) {
		width: 40%;
	}
}

#ordersTable {
	table-layout: fixed;
	width: 100%;

	th:nth-of-type(1) {
		width: 13%;
	}
	th:nth-of-type(2) {
		width: 34%;
	}
	th:nth-of-type(3) {
		width: 30%;
	}

	th:nth-of-type(4) {
		width: 8%;
	}
}
