section.localTable {
	background-color: $offWhite;
	font-size: 14px;

	.tableRow {
		cursor: pointer;
	}

	& > div {
		background-color: $offWhite;
		position: sticky;
		top: 0;
		padding-left: 20%;
		border-radius: 0px !important;
	}

	h6 {
		padding-top: 8px;
		padding-bottom: 8px;
		margin-bottom: 0px;
		min-width: 205px;
		text-align: center;
	}

	table tr td:first-child,
	table tr th:first-child {
		padding-left: 10px;
	}

	table tr:nth-child(even) {
		background-color: $firstGray;
		border-top: 1px solid $borderGray;
		border-bottom: 1px solid $borderGray;
	}
}
