$offWhite: rgb(255, 255, 255);
$firstGray: rgb(249, 250, 251);
$borderGray: rgb(206, 212, 218);
$fontColor: black;

// dark mode
$offWhite: rgb(38, 38, 38);
$firstGray: rgb(55, 55, 55);
$borderGray: rgb(87, 88, 90);
$fontColor: rgb(249, 250, 251);

@mixin bootstrap-borders {
	border-color: $borderGray;
	border-radius: 4.7px;
}

@mixin level1shadow {
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

@mixin level2shadow {
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

@mixin level3shadow {
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

@mixin level4shadow {
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

@mixin level5shadow {
	box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}
