@import 'variables';
@import 'layout';
@import 'customModal';
@import 'table';
@import 'card';
@import 'forms';
@import 'app';

#siteContainer,
#appContainer {
	display: none;
	color: $fontColor;
}

i {
	color: $fontColor;
}

.btn.focus,
.btn.active {
	outline: none !important;
	box-shadow: none !important;
}
