@import 'variables';
@import 'layout';
@import 'customModal';
@import 'nav';
@import 'table';
@import 'card';
@import 'forms';
@import 'app';

#siteContainer,
#appContainer {
	display: none;
	color: $fontColor;
}

.hide {
	display: none;
}

.selected {
	color: $offWhite;
	background-color: $mildGray !important;
	font-weight: 430;
}

input,
textarea,
button,
select,
a {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

i,
p {
	color: $fontColor;
}

.btn.focus,
.btn.active {
	outline: none !important;
	box-shadow: none !important;
}

.btn-default {
	background-color: $fontColor;
}

.btn-basic {
	background-color: $steelGray;
}

.btn-transparent {
	border-radius: 99px;
	border: 2px solid white;
	color: white;
	background-color: transparent;
}
.btn-transparent:hover {
	background-color: white;
}

textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active {
	outline: 0px !important;
	-webkit-appearance: none;
	box-shadow: none !important;
}
