@import 'variables';
@import 'layout';
@import 'customModal';
@import 'tables';
@import 'forms';
@import 'app';

#siteContainer,
#appContainer {
	display: none;
}

.btn.focus,
.btn.active {
	outline: none !important;
	box-shadow: none !important;
}
